
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Laptop</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div style="background-color:cornflowerblue;text-align:center">
        <div class="jumbotron text-center">
            <h1>Laptop Page</h1>
        </div>
    </div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header" style="text-align:center">
                <a class="navbar-brand" href="~/Services/LaptopServicing"> Laptop Servicing</a>
            </div>
            <div class="navbar-header" style="text-align:center">
                <a class="navbar-brand" href="~/Home/Index"> Home Page</a>
            </div>
        </div>
    </nav>
    @*<div>
        @Html.ActionLink("Go to Laptop Services", "LaptopServicing", "Services")
    </div>
    <div>
        @Html.ActionLink("Go to Home", "Index", "Home")
    </div>*@

</body>
</html>
