
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Microwave</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div style="background-color:cornflowerblue;text-align:center">
        <div class="jumbotron text-center">
            <h1>Welcome to Microwave Page</h1>
        </div>
    </div>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header" style="text-align:center">
                <a class="navbar-brand" href="~/Services/MicrowaveServicing"> Microwave Servicing</a>
            </div>
            <div class="navbar-header" style="text-align:center">
                <a class="navbar-brand" href="~/Home/Index"> Home Page</a>
            </div>
        </div>
    </nav>

    @*<div>
        @Html.ActionLink("Go to Microwave Services", "MicrowaveServicing", "Services")
    </div>

    <div>
        @Html.ActionLink("Go to Home", "Index", "Home")
    </div>*@


</body>
</html>
